In [484]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import math
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import openpyxl

In [ ]:
! jupyter notebook --NotebookApp.iopub_data_rate_limit=2147483647

[I 09:24:20.233 NotebookApp] The port 8888 is already in use, trying another port.
[I 09:24:20.253 NotebookApp] [jupyter_nbextensions_configurator] enabled 0.4.1
[I 09:24:20.253 NotebookApp] Serving notebooks from local directory: /Users/siruozhang/Desktop
[I 09:24:20.253 NotebookApp] The Jupyter Notebook is running at:
[I 09:24:20.253 NotebookApp] http://localhost:8889/?token=f5a9d43e5f6967ebfadc25bdfc8a9b02833f50cd4256f878
[I 09:24:20.253 NotebookApp] Use Control-C to stop this server and shut down all kernels (twice to skip confirmation).
[C 09:24:20.259 NotebookApp]

    To access the notebook, open this file in a browser:
        file:///Users/siruozhang/Library/Jupyter/runtime/nbserver-10259-open.html
    Or copy and paste one of these URLs:
        http://localhost:8889/?token=f5a9d43e5f6967ebfadc25bdfc8a9b02833f50cd4256f878

In [2]:
file_name = "/Users/siruozhang/Desktop/dkdata.json"
f_obj = open(file_name)
data = json.load(f_obj)
col_names=data['data'][1].keys()

In [3]:
lista=[]
for i in col_names:
    lista.append(i)

In [4]:
print(lista)

['payer_name', 'payer_jurisdiction', 'payer_account', 'source_file', 'amount_orig', 'id', 'beneficiary_type', 'beneficiary_core', 'amount_orig_currency', 'beneficiary_name', 'beneficiary_jurisdiction', 'investigation', 'beneficiary_bank_country', 'beneficiary_name_norm', 'payer_core', 'beneficiary_account', 'purpose', 'date', 'amount_usd', 'amount_eur', 'payer_type', 'payer_name_norm', 'payer_bank_country']

In [529]:
df = pd.DataFrame(data['data'],columns=lista)  
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16940 entries, 0 to 16939
Data columns (total 23 columns):
payer_name                  16940 non-null object
payer_jurisdiction          16940 non-null object
payer_account               16825 non-null object
source_file                 16940 non-null object
amount_orig                 16940 non-null float64
id                          16940 non-null int64
beneficiary_type            16940 non-null object
beneficiary_core            16940 non-null bool
amount_orig_currency        16940 non-null object
beneficiary_name            16940 non-null object
beneficiary_jurisdiction    16940 non-null object
investigation               16940 non-null object
beneficiary_bank_country    16936 non-null object
beneficiary_name_norm       16940 non-null object
payer_core                  16940 non-null bool
beneficiary_account         16936 non-null object
purpose                     16940 non-null object
date                        16940 non-null object
amount_usd                  16940 non-null int64
amount_eur                  16940 non-null object
payer_type                  16940 non-null object
payer_name_norm             16940 non-null object
payer_bank_country          16825 non-null object
dtypes: bool(2), float64(1), int64(2), object(18)
memory usage: 2.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16940 entries, 0 to 16939
Data columns (total 16 columns):
payer_jurisdiction          16940 non-null object
payer_account               16940 non-null object
id                          16940 non-null int64
beneficiary_type            16940 non-null object
beneficiary_core            16940 non-null bool
beneficiary_jurisdiction    16940 non-null object
beneficiary_bank_country    16940 non-null object
beneficiary_name_norm       16940 non-null object
payer_core                  16940 non-null bool
beneficiary_account         16940 non-null object
date                        16940 non-null object
amount_usd                  16940 non-null int64
payer_type                  16940 non-null object
payer_bank_country          16940 non-null object
payer_name_norm_new         16940 non-null object
purpose_text                16940 non-null object
dtypes: bool(2), int64(2), object(12)
memory usage: 1.8+ MB

In [6]:
df['eur']=df['amount_eur'].str.replace('$','').str.replace(',','').astype(float)

In [7]:
df['amount_usd']/df['eur']
df1 = df.drop('amount_eur',axis=1)

In [8]:
#df2 = df1.dropna(subset=['beneficiary_account','beneficiary_bank_country'],axis=0)

In [9]:
miss_value_index={}
for i in ['payer_account','payer_bank_country','beneficiary_account','beneficiary_bank_country']:
    miss_value_index[i]=df1[df1[i].isna()].index.tolist()
miss_value_index['payer_account']==miss_value_index['payer_bank_country']
miss_value_index['beneficiary_account']==miss_value_index['beneficiary_bank_country']
print(miss_value_index)

{'payer_account': [67, 121, 308, 451, 509, 603, 1210, 1211, 2923, 3084, 3508, 3510, 3677, 4229, 4441, 4823, 5073, 5124, 5126, 5590, 6232, 6234, 6236, 6237, 6385, 6493, 6636, 6643, 6646, 6703, 6733, 7277, 7279, 7449, 7704, 7785, 7786, 7789, 7793, 7796, 7799, 7803, 7807, 7836, 7837, 7838, 7842, 7844, 7845, 7850, 7892, 7898, 7899, 7901, 7938, 8060, 8061, 8062, 8063, 8137, 8144, 8275, 8479, 8694, 9094, 9095, 9385, 9481, 9606, 9704, 9929, 9930, 9931, 9935, 10121, 10123, 10944, 11286, 11382, 11820, 11821, 11824, 11825, 11925, 11926, 12014, 12160, 12383, 12572, 12599, 12829, 12872, 12873, 12900, 12901, 12940, 12941, 12943, 12946, 12948, 12949, 12974, 12975, 13274, 13536, 14156, 14317, 15343, 15613, 15993, 16089, 16171, 16285, 16288, 16692], 'payer_bank_country': [67, 121, 308, 451, 509, 603, 1210, 1211, 2923, 3084, 3508, 3510, 3677, 4229, 4441, 4823, 5073, 5124, 5126, 5590, 6232, 6234, 6236, 6237, 6385, 6493, 6636, 6643, 6646, 6703, 6733, 7277, 7279, 7449, 7704, 7785, 7786, 7789, 7793, 7796, 7799, 7803, 7807, 7836, 7837, 7838, 7842, 7844, 7845, 7850, 7892, 7898, 7899, 7901, 7938, 8060, 8061, 8062, 8063, 8137, 8144, 8275, 8479, 8694, 9094, 9095, 9385, 9481, 9606, 9704, 9929, 9930, 9931, 9935, 10121, 10123, 10944, 11286, 11382, 11820, 11821, 11824, 11825, 11925, 11926, 12014, 12160, 12383, 12572, 12599, 12829, 12872, 12873, 12900, 12901, 12940, 12941, 12943, 12946, 12948, 12949, 12974, 12975, 13274, 13536, 14156, 14317, 15343, 15613, 15993, 16089, 16171, 16285, 16288, 16692], 'beneficiary_account': [306, 3598, 8782, 11302], 'beneficiary_bank_country': [306, 3598, 8782, 11302]}

In [10]:
df1.iloc[miss_value_index['beneficiary_bank_country']]

,payer_name,payer_jurisdiction,payer_account,source_file,amount_orig,id,beneficiary_type,beneficiary_core,amount_orig_currency,beneficiary_name,...,beneficiary_name_norm,payer_core,beneficiary_account,purpose,date,amount_usd,payer_type,payer_name_norm,payer_bank_country,eur
306,METASTAR INVEST LLP,GB,EE77 3300 3334 8704 0004,pdf/METASTAR Account statement 30.06.12-31.12....,-1800.0,10738,Company,False,USD,CONTINENTAL ENGINES,...,CONTINENTAL ENGINES,True,None,1208105026359433 ORDER NUMBER NO 1179550 DD 18...,2012-08-10,1800,Company,METASTAR INVEST LLP,EE,1468.05
3598,METASTAR INVEST LLP,GB,EE77 3300 3334 8704 0004,pdf/METASTAR Account statement 30.06.12-31.12....,-2909.5,15956,Company,False,USD,MICROCOPY,...,MICROCOPY,True,None,1302265026564645 INVOICE SO12000014 DD 13/12/2...,2013-02-26,2910,Company,METASTAR INVEST LLP,EE,2131.43
8782,METASTAR INVEST LLP,GB,EE77 3300 3334 8704 0004,pdf/METASTAR Account statement 30.06.12-31.12....,-4311.0,16287,Company,False,USD,MICROCOPY,...,MICROCOPY,True,None,1307175022068793 INVOICE SOM1300027 DD 08/07/2...,2013-07-17,4311,Company,METASTAR INVEST LLP,EE,3301.41
11302,HILUX SERVICES LP,GB,EE12 3300 3335 1615 0001,pdf/HILUX Allegato 4.xml,-253150.0,4658,Company,False,USD,TURBILLION LLC,...,TURBILLION LLC,True,None,1311125026365614 PAYMENT TO THE CONTRACT N 121...,2013-11-12,253150,Company,HILUX SERVICES LP,EE,186918.37

In [11]:
np.unique(df1[df1['payer_core']==True]['payer_name'].values)
df1[df1['payer_core']==True]['payer_name'].value_counts()

HILUX SERVICES LP                      5178
METASTAR INVEST LLP                    3841
LCM ALLIANCE LLP                       2820
POLUX MANAGEMENT LP                    1344
METASTAR INVEST LLP CORNWALL BUILD.       5
Name: payer_name, dtype: int64

In [12]:
df1['payer_jurisdiction'].value_counts()
df1['payer_type'].value_counts()

Company    16877
Invalid       51
Person        12
Name: payer_type, dtype: int64

In [13]:
df1['payer_name_new']=df1['payer_name'].str.replace('.','').str.upper()
df1['payer_name_norm_new']=df1['payer_name_norm'].str.replace('.','').str.upper()

In [14]:
payer_name_not_same1=[]
for i in range(len(df1['payer_name_new'])):
    if df1['payer_name_new'].iloc[i] in df1['payer_name_norm_new'].iloc[i]:
        pass
    else:
        payer_name_not_same1.append(i)
payer_name_not_same2=[]

for i in range(len(df1['payer_name_new'])):
    if df1['payer_name_norm_new'].iloc[i] in df1['payer_name_new'].iloc[i]:
        pass
    else:
        payer_name_not_same2.append(i)
        

intersection= [val for val in payer_name_not_same1 if val in payer_name_not_same2]

intersection

[37,
 40,
 59,
 85,
 105,
 122,
 139,
 149,
 164,
 165,
 166,
 203,
 319,
 420,
 439,
 542,
 550,
 551,
 609,
 628,
 651,
 786,
 807,
 879,
 903,
 1059,
 1217,
 1223,
 1224,
 1243,
 1247,
 1281,
 1284,
 1336,
 1454,
 1468,
 1471,
 1525,
 1598,
 1601,
 1671,
 1699,
 1700,
 1718,
 1721,
 1745,
 1794,
 1827,
 1853,
 1854,
 1977,
 2032,
 2060,
 2096,
 2097,
 2116,
 2149,
 2362,
 2374,
 2414,
 2479,
 2511,
 2517,
 2544,
 2580,
 2584,
 2585,
 2588,
 2685,
 2733,
 2737,
 2780,
 2786,
 2787,
 2788,
 2837,
 2850,
 2861,
 2881,
 2884,
 2885,
 2900,
 2924,
 2958,
 3048,
 3124,
 3129,
 3132,
 3160,
 3185,
 3186,
 3190,
 3191,
 3194,
 3195,
 3196,
 3197,
 3221,
 3222,
 3251,
 3277,
 3297,
 3429,
 3648,
 3687,
 3752,
 4233,
 4307,
 4373,
 4393,
 4420,
 4445,
 4479,
 4481,
 4482,
 4532,
 4618,
 4658,
 4665,
 4666,
 4668,
 4719,
 4727,
 4728,
 4952,
 5000,
 5066,
 5076,
 5139,
 5140,
 5194,
 5202,
 5203,
 5252,
 5254,
 5255,
 5484,
 5585,
 5674,
 6017,
 6042,
 6228,
 6229,
 6321,
 6326,
 6391,
 6496,
 6647,
 6648,
 6698,
 6729,
 6730,
 6769,
 6770,
 6885,
 6934,
 6948,
 7016,
 7017,
 7196,
 7280,
 7286,
 7378,
 7383,
 7510,
 7610,
 7612,
 7614,
 7623,
 7625,
 7629,
 7708,
 7720,
 7786,
 7797,
 7803,
 7838,
 7844,
 7897,
 7898,
 8964,
 9704,
 9894,
 9896,
 10088,
 11178,
 11848,
 11893,
 11944,
 12102,
 12610,
 12725,
 12829,
 13874]

In [15]:
def doubt_object_payer_name(n):
    dic={}
    for i in intersection:
        if list(df1['payer_name_norm_new'].iloc[i])[:n] != list(df1['payer_name_new'].iloc[i])[:n]:
            dic[i]=[df1['payer_name_norm_new'].iloc[i],df1['payer_name_new'].iloc[i]]
    return(dic)

a=[]
for k in range(20):
    for i in doubt_object_payer_name(k).keys():
        a.append(doubt_object_payer_name(k)[i])
    print(k,np.unique(a))

0 []
1 ['OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,']
2 ['OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,']
3 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
4 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'OJSC ARCELORMITTAL KRYVIY RIH'
 'PJSC ARCELORMITTAL KRYVYI RIH,' 'ZI WU TRADING CO LIMITED'
 'ZI YI TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED NO285 LO' 'ZIWU TRADING CO LIMITED RM289 14/F'
 'ZIYI TRADING CO LIMITED']
5 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'OJSC ARCELORMITTAL KRYVIY RIH'
 'PJSC ARCELORMITTAL KRYVYI RIH,' "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
6 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'OJSC ARCELORMITTAL KRYVIY RIH'
 'PJSC ARCELORMITTAL KRYVYI RIH,' "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
7 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'OJSC ARCELORMITTAL KRYVIY RIH'
 'PJSC ARCELORMITTAL KRYVYI RIH,' "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
8 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'OJSC ARCELORMITTAL KRYVIY RIH'
 'PJSC ARCELORMITTAL KRYVYI RIH,' "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
9 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'DANBELL  IMPORT  LLP'
 'DANBELL IMPORT LLP' 'GENTECH (FZE)' 'GENTECH FZE'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'OJSC ARCELORMITTAL KRYVIY RIH'
 'PJSC ARCELORMITTAL KRYVYI RIH,' "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
10 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'DANBELL  IMPORT  LLP'
 'DANBELL IMPORT LLP' 'GENTECH (FZE)' 'GENTECH FZE'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'ZI WU TRADING CO LIMITED'
 'ZI YI TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED NO285 LO' 'ZIWU TRADING CO LIMITED RM289 14/F'
 'ZIYI TRADING CO LIMITED']
11 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'DANBELL  IMPORT  LLP'
 'DANBELL IMPORT LLP' 'GENTECH (FZE)' 'GENTECH FZE'
 'HANSE TRADEING CO LIMITED' 'HANSE TRADING CO LIMITED'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'ZI WU TRADING CO LIMITED'
 'ZI YI TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED NO285 LO' 'ZIWU TRADING CO LIMITED RM289 14/F'
 'ZIYI TRADING CO LIMITED']
12 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'DANBELL  IMPORT  LLP'
 'DANBELL IMPORT LLP' 'GENTECH (FZE)' 'GENTECH FZE'
 'HANSE TRADEING CO LIMITED' 'HANSE TRADING CO LIMITED'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'ZI WU TRADING CO LIMITED'
 'ZI YI TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED NO285 LO' 'ZIWU TRADING CO LIMITED RM289 14/F'
 'ZIYI TRADING CO LIMITED']
13 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'DANBELL  IMPORT  LLP'
 'DANBELL IMPORT LLP' 'GENTECH (FZE)' 'GENTECH FZE'
 'HANSE TRADEING CO LIMITED' 'HANSE TRADING CO LIMITED'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'ZI WU TRADING CO LIMITED'
 'ZI YI TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED NO285 LO' 'ZIWU TRADING CO LIMITED RM289 14/F'
 'ZIYI TRADING CO LIMITED']
14 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'DANBELL  IMPORT  LLP'
 'DANBELL IMPORT LLP' 'GENTECH (FZE)' 'GENTECH FZE'
 'HANSE TRADEING CO LIMITED' 'HANSE TRADING CO LIMITED'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'YW THEHAAM CO LIMITED'
 'YW THEHAAM CO, LIMITED' 'ZI WU TRADING CO LIMITED'
 'ZI YI TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED NO285 LO' 'ZIWU TRADING CO LIMITED RM289 14/F'
 'ZIYI TRADING CO LIMITED']

15 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'ASTON GLOBAL L P'
 'ASTON GLOBAL LP' 'DANBELL  IMPORT  LLP' 'DANBELL IMPORT LLP'
 'GENTECH (FZE)' 'GENTECH FZE' 'HANSE TRADEING CO LIMITED'
 'HANSE TRADING CO LIMITED' 'HUA HE TRADE CO LIMITED'
 'HUA HE TRADE CO LIMITED RM289 14/F' 'HUA MENG TRADE CO, LTD'
 'HUAHE TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'VOSTOK MEDIA ECHANGE LTD'
 'VOSTOK MEDIA EXCHANGE LTD' 'YW THEHAAM CO LIMITED'
 'YW THEHAAM CO, LIMITED' 'YW THEHAAM CO,LIMITED'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
16 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'ASTON GLOBAL L P'
 'ASTON GLOBAL LP' 'DANBELL  IMPORT  LLP' 'DANBELL IMPORT LLP'
 'GENTECH (FZE)' 'GENTECH FZE' 'HANSE TRADEING CO LIMITED'
 'HANSE TRADING CO LIMITED' 'HUA HE TRADE CO LIMITED'
 'HUA HE TRADE CO LIMITED RM289 14/F' 'HUA MENG TRADE CO, LTD'
 'HUAHE TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'VOSTOK MEDIA ECHANGE LTD'
 'VOSTOK MEDIA EXCHANGE LTD' 'YW THEHAAM CO LIMITED'
 'YW THEHAAM CO, LIMITED' 'YW THEHAAM CO,LIMITED'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
17 ['AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'ASTON GLOBAL L P'
 'ASTON GLOBAL LP' 'DANBELL  IMPORT  LLP' 'DANBELL IMPORT LLP'
 'GENTECH (FZE)' 'GENTECH FZE' 'GLOBECOM TRADE L P' 'GLOBECOM TRADE LP'
 'HANSE TRADEING CO LIMITED' 'HANSE TRADING CO LIMITED'
 'HUA HE TRADE CO LIMITED' 'HUA HE TRADE CO LIMITED RM289 14/F'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'VOSTOK MEDIA ECHANGE LTD'
 'VOSTOK MEDIA EXCHANGE LTD' 'YW THEHAAM CO LIMITED'
 'YW THEHAAM CO, LIMITED' 'YW THEHAAM CO,LIMITED'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
18 ['ADANA INVESTMENT, LTD' 'ADANA INVESTMENT,LTD'
 'AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD' 'ASTON GLOBAL L P'
 'ASTON GLOBAL LP' 'CONTRATECH SALES  LLP' 'CONTRATECH SALES LLP'
 'DANBELL  IMPORT  LLP' 'DANBELL IMPORT LLP'
 'DANSKE BANK A/S EESTI FILIAAL' 'DANSKE BANK A/S ESTONIA BRANCH'
 'GENTECH (FZE)' 'GENTECH FZE' 'GLOBECOM TRADE L P' 'GLOBECOM TRADE LP'
 'HANSE TRADEING CO LIMITED' 'HANSE TRADING CO LIMITED'
 'HILLSTAR COMPLEX  LLP' 'HILLSTAR COMPLEX LLP' 'HUA HE TRADE CO LIMITED'
 'HUA HE TRADE CO LIMITED RM289 14/F' 'HUA MENG TRADE CO LIMITED'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'VOSTOK MEDIA ECHANGE LTD'
 'VOSTOK MEDIA EXCHANGE LTD' 'YW THEHAAM CO LIMITED'
 'YW THEHAAM CO, LIMITED' 'YW THEHAAM CO,LIMITED'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']
19 ['ADANA INVESTMENT, LTD' 'ADANA INVESTMENT,LTD'
 'AL GHARABALLY NATIONAL TRADING' 'ALGHARABALLY NATIONAL TRADING'
 'APOLLO(CHINA) CO,LTD' 'APPOLLO (CHINA) CO, LTD'
 'ASAS ALUMINYUM SANAYI VE TICARET' 'ASAS ALUMINYUM SANVE TICAS'
 'ASTON GLOBAL L P' 'ASTON GLOBAL LP' 'CONTRATECH SALES  LLP'
 'CONTRATECH SALES LLP' 'DANBELL  IMPORT  LLP' 'DANBELL IMPORT LLP'
 'DANSKE BANK A/S EESTI FILIAAL' 'DANSKE BANK A/S ESTONIA BRANCH'
 'DEXPORT UNIVERSAL  LLP' 'DEXPORT UNIVERSAL LLP' 'GENTECH (FZE)'
 'GENTECH FZE' 'GLOBECOM TRADE L P' 'GLOBECOM TRADE LP'
 'HANSE TRADEING CO LIMITED' 'HANSE TRADING CO LIMITED'
 'HILLSTAR COMPLEX  LLP' 'HILLSTAR COMPLEX LLP' 'HUA HE TRADE CO LIMITED'
 'HUA HE TRADE CO LIMITED RM289 14/F' 'HUA MENG TRADE CO LIMITED'
 'HUA MENG TRADE CO, LTD' 'HUAHE TRADE CO LIMITED'
 'HUAMENG TRADE CO LIMITED' 'HUAMENG TRADE CO LIMITED RM289 14/F'
 'HUAMENG TRADECO LIMITEDRM289 14/F G' 'LUXBORG L P' 'LUXBORG LP'
 'OJSC ARCELORMITTAL KRYVIY RIH' 'PINGCHUAN TRADE CO LIMITED ADD:RM'
 'PINGCHUAN TRADE CO, LIMITED' 'PJSC ARCELORMITTAL KRYVYI RIH,'
 'QIN YI TRADING CO, LIMITED' 'QIN YI TRADING CO,LIMITED'
 'STILL HAIR ACCESSORY CO, LIMITED' 'STILL HAIRA ACCESSORY CO LIMITED'
 "TOO 'ARMAS GROUP'" 'TOO ARMAS GROUP' 'VOSTOK MEDIA ECHANGE LTD'
 'VOSTOK MEDIA EXCHANGE LTD' 'YW THEHAAM CO LIMITED'
 'YW THEHAAM CO, LIMITED' 'YW THEHAAM CO,LIMITED'
 'ZI WU TRADING CO LIMITED' 'ZI YI TRADING CO LIMITED'
 'ZIWU TRADING CO LIMITED' 'ZIWU TRADING CO LIMITED NO285 LO'
 'ZIWU TRADING CO LIMITED RM289 14/F' 'ZIYI TRADING CO LIMITED']

In [16]:
print(df1['payer_bank_country'].value_counts())
print(df1['payer_jurisdiction'].value_counts())

EE    13147
33     2083
AZ      562
LV      270
KZ      201
CY      135
40       72
NR       67
OS       50
CH       37
NL       30
AE       26
20       20
10       16
TR       12
60       11
LI        8
38        7
GE        7
00        6
DE        5
MT        4
TX        4
06        4
TA        4
39        3
CZ        3
12        2
LT        2
41        2
IT        2
01        2
MD        2
36        2
90        2
DK        2
BG        1
55        1
35        1
26        1
66        1
BE        1
11        1
LU        1
RO        1
50        1
87        1
QA        1
FR        1
Name: payer_bank_country, dtype: int64
GB         15074
AZ           609
UNKNOWN      205
KZ           201
NZ           134
CY           132
CN           108
RU            76
HK            71
DE            41
US            40
CA            37
VG            34
AE            33
TR            26
PA            19
ES            16
EE            15
FI            11
MT             9
GE             7
SG             4
IN             4
LV             4
CZ             3
NL             3
LI             3
RO             2
FR             2
KW             2
IT             2
IL             2
KR             1
UA             1
QA             1
BE             1
TW             1
IE             1
CH             1
BM             1
BG             1
PY             1
DK             1
Name: payer_jurisdiction, dtype: int64

In [17]:
a1=[]
for i in range(len(df1['beneficiary_bank_country'])):
    if df1['beneficiary_bank_country'].iloc[i] is not None:
        if len(list(df1['beneficiary_bank_country'].iloc[i])) != 2:
            a1.append(i)
print(a1)
#df['beneficiary_bank_country'].value_counts()
#all benficiary bank country have 2 character except null.

a2=[]
for i in range(len(df1['payer_bank_country'])):
    if df1['payer_bank_country'].iloc[i] is not None:
        if len(list(df1['payer_bank_country'].iloc[i])) != 2:
            a1.append(i)
print(a2)
#all payer bank country have 2 character except null.

[]
[]

In [18]:
a3=[]
for i in range(len(df1['beneficiary_bank_country'])):
    if (df1['beneficiary_bank_country'].iloc[i] is not None) and (df1['beneficiary_account'].iloc[i] is not None):
        if (list(df1['beneficiary_bank_country'].iloc[i])[:2]) != (list(df1['beneficiary_account'].iloc[i])[:2]):
            a3.append(i)
print(a3)


a4=[]
for i in range(len(df1['payer_bank_country'])):
    if (df1['payer_bank_country'].iloc[i] is not None) and (df1['payer_account'].iloc[i] is not None):
        if (list(df1['payer_bank_country'].iloc[i])[:2]) != (list(df1['payer_account'].iloc[i])[:2]):
            a4.append(i)
print(a4)
#_bank country info can get from account

[]
[]

In [113]:
#df1[df1['amount_orig']<0]['payer_jurisdiction'].value_counts()
#df1[(df1['amount_orig']>0) & (df1['payer_jurisdiction']=='GB')]
#df1['beneficiary_bank_country'].value_counts()
#df1[df1['amount_orig']<0]['beneficiary_core'].value_counts()
#df1[df1['payer_core']==True]['payer_name'].value_counts()
#df1[df1['beneficiary_core']==True]['beneficiary_name'].value_counts()



a4=[]
for i in range(len(df1['source_file'])):
    a4.append(re.findall(r'/(.*) [Account|Allegato]',df1['source_file'].iloc[i])[0])
a12=[]
a6=[]
for i in range(len(df1['amount_orig'])):
    if df1['amount_orig'].iloc[i]<0:
        a6.append(i)

In [51]:
pd.set_option('display.max_columns', None)

In [63]:
a5=[]
for i in a6:
        if a4[i][0] not in df1['payer_name_norm'].iloc[i]:
            a5.append(i)
len(a5)
# amount<0, sources names belong to payer_name
a61=[]
for i in a6:
    a61.append(a4[i][0])
print(np.unique(a61))
df1['payer_name_norm'][(df1['payer_core']==True)].value_counts()

['HILUX' 'LCM ALLIANCE' 'METASTAR' 'POLUX']

HILUX SERVICES LP      5178
METASTAR INVEST LLP    3846
LCM ALLIANCE LLP       2820
POLUX MANAGEMENT LP    1344
Name: payer_name_norm, dtype: int64

In [68]:
a51=[]
for i in range(len(df1['source_file'])):
    if df1['amount_orig'].iloc[i]>=0:
        if a4[i][0] not in df1['beneficiary_name_norm'].iloc[i]:
            a51.append(i)
len(a51)

aa=[]

for i in range(len('source_file')):
    if df1['payer_name_norm'].iloc[i] == df1['beneficiary_name_norm'].iloc[i]:
        aa.append(i)
print(aa)
#no same company at payer and bene
# amount>0, sources name belong to bene_name 

#Thus, I think amount +/- does not effect on data

[]

In [132]:
currency_detect=[]
for i in range(len(df1['amount_orig'])):
    if df1['amount_orig_currency'].iloc[i]=='USD':
        if df1['amount_usd'].iloc[i]!= math.ceil(abs(df1['amount_orig'].iloc[i])):
            currency_detect.append(i)
    if df1['amount_orig_currency'].iloc[i]=='EUR':
        if math.ceil(df1['eur'].iloc[i]) != math.ceil(abs(df1['amount_orig'].iloc[i])):
            currency_detect.append(i)
print(currency_detect)
df1['amount_orig_currency'].value_counts()
# I think keep usd is safe
#investigation only one level,thus drop
df2=df1.drop(['amount_orig','eur','amount_orig_currency','payer_name','payer_name_new','investigation','beneficiary_name','source_file'],axis=1)
df2.info()

[]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16940 entries, 0 to 16939
Data columns (total 17 columns):
payer_jurisdiction          16940 non-null object
payer_account               16825 non-null object
id                          16940 non-null int64
beneficiary_type            16940 non-null object
beneficiary_core            16940 non-null bool
beneficiary_jurisdiction    16940 non-null object
beneficiary_bank_country    16936 non-null object
beneficiary_name_norm       16940 non-null object
payer_core                  16940 non-null bool
beneficiary_account         16936 non-null object
purpose                     16940 non-null object
date                        16940 non-null object
amount_usd                  16940 non-null int64
payer_type                  16940 non-null object
payer_name_norm             16940 non-null object
payer_bank_country          16825 non-null object
payer_name_norm_new         16940 non-null object
dtypes: bool(2), int64(2), object(13)
memory usage: 2.0+ MB

In [133]:
date_=[]
for i in range(len(df1['source_file'])):
    date_.append(re.findall(r'\d*.\d*.\d*-\d*.\d*.\d*',df1['source_file'].iloc[0])[0])
np.unique(date_)
#all number look like date are same
df2['source']=a4
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16940 entries, 0 to 16939
Data columns (total 18 columns):
payer_jurisdiction          16940 non-null object
payer_account               16825 non-null object
id                          16940 non-null int64
beneficiary_type            16940 non-null object
beneficiary_core            16940 non-null bool
beneficiary_jurisdiction    16940 non-null object
beneficiary_bank_country    16936 non-null object
beneficiary_name_norm       16940 non-null object
payer_core                  16940 non-null bool
beneficiary_account         16936 non-null object
purpose                     16940 non-null object
date                        16940 non-null object
amount_usd                  16940 non-null int64
payer_type                  16940 non-null object
payer_name_norm             16940 non-null object
payer_bank_country          16825 non-null object
payer_name_norm_new         16940 non-null object
source                      16940 non-null object
dtypes: bool(2), int64(2), object(14)
memory usage: 2.1+ MB

In [134]:
df2

,payer_jurisdiction,payer_account,id,beneficiary_type,beneficiary_core,beneficiary_jurisdiction,beneficiary_bank_country,beneficiary_name_norm,payer_core,beneficiary_account,purpose,date,amount_usd,payer_type,payer_name_norm,payer_bank_country,payer_name_norm_new,source
0,AZ,33817018409333311204,6049,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1206295100052180 OCT4121800021 ADVANCE PAYM FO...,2012-06-30,535470,Company,AZARBAYCAN METANOL KOMPANI MMC,33,AZARBAYCAN METANOL KOMPANI MMC,LCM ALLIANCE
1,GB,EE27 3300 3335 0561 0002,6050,Company,False,GB,33,MOBILA LLP,True,333504500003,1207035026699176 INVOICE.No 6215 DD 25.05.2012,2012-07-03,535000,Company,LCM ALLIANCE LLP,EE,LCM ALLIANCE LLP,LCM ALLIANCE
2,GB,20100374548222,10623,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,"1207065103089249 /FEE/USD4,81",2012-07-06,90536,Company,SKN ELECTRICAL SERVICES LIMITED,20,SKN ELECTRICAL SERVICES LIMITED,METASTAR
3,GB,EE77 3300 3334 8704 0004,15589,Company,False,VG,33,INMAXO CAPITAL CORP.,True,333455870002,1207095022358525 DOGOVOR ZAYMA,2012-07-09,90520,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
4,GB,EE77 3300 3334 8704 0004,10624,Company,False,VG,33,INMAXO CAPITAL CORP.,True,333455870002,1207135024578077 DOGOVOR ZAYMA,2012-07-13,60,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
5,VG,333455870002,15030,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,CONTRACT N 001 DD 24.12.2009,2012-07-13,239099,Company,INMAXO CAPITAL CORP.,33,INMAXO CAPITAL CORP,METASTAR
6,VG,333455870002,15590,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1207135026233261 CONTRACT N 001 DD 24.12.2009,2012-07-13,225850,Company,INMAXO CAPITAL CORP.,33,INMAXO CAPITAL CORP,METASTAR
7,GB,EE77 3300 3334 8704 0004,9314,Company,False,NZ,33,JETFIELD NETWORKS LIMITED,True,333488110001,invoice 888 dd 09.06.2012,2012-07-16,130313,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
8,GB,EE77 3300 3334 8704 0004,9313,Company,False,IT,IT,ERREBI SPA,True,IT78T0605569721000000001000,1207165020172345 INVOICE 8456 DD 10.07.2012,2012-07-16,118696,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
9,GB,EE77 3300 3334 8704 0004,15595,Company,False,GB,33,LOTA SALES LLP,True,333484540002,1207165025935425 DOGOVOR ZAYMA,2012-07-16,80000,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
10,GB,EE77 3300 3334 8704 0004,15594,Company,False,GB,33,LOTA SALES LLP,True,333484540002,1207165022969353 DOGOVOR ZAYMA,2012-07-16,70000,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
11,GB,EE77 3300 3334 8704 0004,10631,Company,False,UNKNOWN,33,ELEATEX TRADING S.L.,True,333499570009,1207165028140593 INVOICE 666 DD 06.06.2012,2012-07-16,60000,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
12,GB,EE77 3300 3334 8704 0004,10630,Company,False,TR,TR,CST KIMYA SANAYI VE TICARET AS,True,TR410012300615100016777301,1207165020742469 INVOICE 743 DD 10.06.2012,2012-07-16,55000,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
13,GB,EE77 3300 3334 8704 0004,10629,Company,False,IT,IT,SILVEA SCHIATTI+C.SRL,True,IT78H0306920409100000012385,1207165026491333 INVOICE 2-9 DD 11.07.2012,2012-07-16,53000,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
14,GB,EE77 3300 3334 8704 0004,15593,Company,False,TR,TR,EGE KUR.KAMU FIN.VE TIC.MRKZ.SB.,True,TR070013400000000039500042,1207165022275789 AHMADOV ANAR SUBAR,2012-07-16,36935,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
15,GB,EE77 3300 3334 8704 0004,10628,Company,False,UNKNOWN,33,ELEATEX TRADING S.L.,True,333499570009,1207165021570793 INVOICE 666 DD 06.06.2012,2012-07-16,34122,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
16,GB,EE77 3300 3334 8704 0004,10627,Company,False,TR,TR,UNIVAR KIMYA SANAYI VE DIS TIC LTD.,True,TR240006200034100009092916,1207165022255697 INVOICE 785 DD 13.07.2012,2012-07-16,4505,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
17,GB,EE77 3300 3334 8704 0004,15031,Company,False,DE,DE,MERTIK MAXITROL GMBH & CO.KG,True,DE96810700000210018800,1207165020041457 INVOICE 01 DD 14.07.2012,2012-07-16,5574,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
18,GB,EE77 3300 3334 8704 0004,15592,Company,False,US,33,LINSTAR SYSTEMS CORP.,True,333468790001,1207165025774169 INVOICE 01 DD 01.05.12,2012-07-16,1000,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
19,VG,333455870002,15591,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1207165020140189 CONTRACT N 001 DD 24.12.2009,2012-07-16,29,Company,INMAXO CAPITAL CORP.,33,INMAXO CAPITAL CORP,METASTAR
20,GB,333484540002,10625,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1207165021876577 DOGOVOR ZAYMA,2012-07-16,150000,Company,LOTA SALES LLP,33,LOTA SALES LLP,METASTAR
21,GB,333504500003,10626,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1207165026198353 INVOICE.No 69 DD 13.07.2012,2012-07-16,150000,Company,MOBILA LLP,33,MOBILA LLP,METASTAR
22,GB,EE77 3300 3334 8704 0004,15599,Company,False,RU,40,OOO MAYAKPRINT,True,40702840722002001727,1207175028296266 SHOT N 156 DD 05.04.2012,2012-07-17,158833,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
23,GB,EE77 3300 3334 8704 0004,9321,Company,False,AE,AE,IMEX MOTORS L.L.C.,True,AE710200000025597675100,1207175026172670 INVOICE 001 DD 12.02.2012 FOR...,2012-07-17,189409,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
24,GB,EE77 3300 3334 8704 0004,15034,Company,False,NZ,33,JETFIELD NETWORKS LIMITED,True,333488110001,invoice 888 dd 09.06.2012,2012-07-17,183284,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
25,GB,EE77 3300 3334 8704 0004,10636,Company,False,NZ,33,JETFIELD NETWORKS LIMITED,True,333488110001,1207175024945082 invoice 888 dd 09.06.2012,2012-07-17,111100,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
26,GB,EE77 3300 3334 8704 0004,9320,Company,False,NZ,33,JETFIELD NETWORKS LIMITED,True,333488110001,invoice 888 dd 09.06.2012,2012-07-17,91421,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
27,GB,EE77 3300 3334 8704 0004,9319,Company,False,TR,TR,CAHAN ISTANBUL DIS.TIC.LTD,True,TR480006400000212780107701,1207175023760670 INVOICE 2345 DD 08.07.2012,2012-07-17,86328,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
28,GB,EE77 3300 3334 8704 0004,15598,Company,False,DE,DE,MTG HANDELS UND CONSULTING GMBH,True,DE11400400280420274300,1207175025570082 INVOICE 531 DD 01.04.2012,2012-07-17,32000,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
29,GB,EE77 3300 3334 8704 0004,10635,Company,False,UNKNOWN,33,ELEATEX TRADING S.L.,True,333499570009,1207175028320294 INVOICE 666 DD 06.06.2012,2012-07-17,23485,Company,METASTAR INVEST LLP,EE,METASTAR INVEST LLP,METASTAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16910,GB,EE12 3300 3335 1615 0001,13962,Company,False,IT,IT,FONDAZIONE NOVAE TERRAE,True,IT57S0504801639000000001821,1412295036793430 PAYMENT TO THE CONTRACT N.W/N...,2014-12-29,130967,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16911,GB,EE12 3300 3335 1615 0001,1075,Company,False,GB,EE,FABERLEX LP,True,EE683300333516210006,GROUP PAYMENT,2014-12-29,113505,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16912,GB,EE12 3300 3335 1615 0001,14446,Company,False,VG,LI,RENAISSANCE ASSOCIATES S.A.,True,LI0408812105030530001,1412295020996358 PAYMENT TO THE CONTRACT N 01 ...,2014-12-29,75100,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16913,GB,EE12 3300 3335 1615 0001,1074,Company,False,TR,TR,KARAT GUC SISTEMLERI SAN.VE TIC.,True,TR020020600033019706260102,1412295026084242 PAYMENT TO THE INVOICE N. N1-...,2014-12-29,82744,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16914,GB,EE12 3300 3335 1615 0001,1073,Company,False,NL,NL,ENZA ZADEN EXPORT B.V.,True,NL44DEUT0265165296,1412295038278546 PAYMENT TO THE INVOICE N 9554...,2014-12-29,80857,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16915,GB,EE12 3300 3335 1615 0001,1072,Company,False,US,LI,PARY INTERNATIONAL INC.,True,LI7908812105030540000,1412295036593302 PAYMENT TO THE CONTRACT N 038...,2014-12-29,68611,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16916,GB,EE12 3300 3335 1615 0001,4294,Company,False,AE,AE,ZEN TRAX INC.,True,AE650030010220620394001,1412295022190790 PAYMENT TO THE CONTRACT N 6 D...,2014-12-29,51000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16917,GB,EE12 3300 3335 1615 0001,4293,Company,False,UNKNOWN,10,CEMENA SERVICES LIMITED,True,102558,1412295026476422 PAYMENT TO THE CONTRACT N.28 ...,2014-12-29,40000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16918,GB,EE12 3300 3335 1615 0001,1071,Company,False,CZ,CZ,GLAMOUR DIAMOND S.R.O.,True,CZ5527000000002107039983,1412295034398998 PAYMENT TO THE INVOICE N.16/1...,2014-12-29,31183,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16919,GB,EE12 3300 3335 1615 0001,4292,Company,False,CN,47,"JIANGSU UNBEATABLE RADIATOR CO., LTD",True,475458233237,1412295023479022 PAYMENT TO THE INVOICE N.ZA00...,2014-12-29,25000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16920,GB,EE12 3300 3335 1615 0001,4576,Company,False,FR,FR,GSN SEMENCES S.A.S,True,FR7630003000800002030076732,1412295036178610 PAYMENT TO THE CONTRAKT GSN/F...,2014-12-29,27241,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16921,GB,EE12 3300 3335 1615 0001,14445,Company,False,VG,LV,ODEN ASSETS LTD,True,LV59RTMB0000611806345,1412295031262686 PAYMENT TO THE CONTRACT N 398...,2014-12-29,20000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16922,GB,EE12 3300 3335 1615 0001,4291,Person,False,TR,TR,YIGITLER FLANS,True,TR420001200938800053000248,1412295024693494 PAYMENT TO THE INVOICE N.H-8 ...,2014-12-29,9565,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16923,GB,EE12 3300 3335 1615 0001,1070,Company,False,TR,TR,SAYGIN HIDROFOR VE POMPA SIS. SAN.,True,TR230006400000211373371180,1412295020010390 PAYMENT TO THE INVOICE N.3281...,2014-12-29,8781,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16924,GB,EE12 3300 3335 1615 0001,4575,Company,False,TR,TR,DURKO CEVRE ENERJI TEKNIGI VE TIC.,True,TR030006400000213930001995,1412295024599126 PAYMENT TO THE INVOICE N.2 DD...,2014-12-29,8577,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16925,GB,EE12 3300 3335 1615 0001,13961,Company,False,TR,TR,GRUNDFOS POMPA SAN.TIC.LTD.STI.,True,TR950003200014500000226115,1412295022404822 PAYMENT FOR WATER PIPES UNDER...,2014-12-29,2360,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16926,GB,EE083300333513530006,4290,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1412295072206634 inv. no 1916 for electro equi...,2014-12-29,1930,Company,CROSSPARK LINES LLP,EE,CROSSPARK LINES LLP,HILUX
16927,CY,LV87AIZK0001140110799,4574,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1412295105818062 INVOICE NO P230400506 FOR ELE...,2014-12-29,374191,Company,CASPIAN MOBILE LTD.,LV,CASPIAN MOBILE LTD,HILUX
16928,AZ,AZ18IBAZ40150018404004037267,5364,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1412265102334077 CONTRAKT N47 03.11.2014 /FEE...,2014-12-29,5499947,Company,BAKTELEKOM MMC,AZ,BAKTELEKOM MMC,HILUX
16929,AZ,AZ18IBAZ40150018404004037267,4289,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1412295108133598 CONTRAKT N47 03.11.2014 /FEE...,2014-12-29,5878247,Company,BAKTELEKOM MMC,AZ,BAKTELEKOM MMC,HILUX
16930,GB,EE12 3300 3335 1615 0001,1081,Company,False,CH,CH,CHIANCIANESI AND LONGONI,True,CH62007645958754C000C,1412305035411964 PAYMENT TO THE INVOICE N.69 D...,2014-12-30,374191,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16931,GB,EE12 3300 3335 1615 0001,1080,Company,False,UNKNOWN,LV,CASPIAN INVEST LIMITED,True,LV48AIZK0001140094623,1412295033085006 PAYMENT TO THE INVOICE N.39 D...,2014-12-30,286880,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16932,GB,EE12 3300 3335 1615 0001,1079,Company,False,NL,NL,BAARS CONFLOAT BV,True,NL91DEUT0471363170,1412295030890702 PAYMENT TO THE INVOICE N.1400...,2014-12-30,167887,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16933,GB,EE12 3300 3335 1615 0001,4305,Company,False,GB,EE,DATEMILE ALLIANCE LLP,True,EE073300333514840009,1412315075078582 PAYMENT TO THE CONTRACT N 55 ...,2014-12-31,1200000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16934,GB,EE12 3300 3335 1615 0001,5366,Company,False,GB,EE,RICHFIELD TRADING L.P.,True,EE873300333520140007,1412315074763930 PAYMENT TO THE CONTRACT N.12/...,2014-12-31,770000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16935,GB,EE12 3300 3335 1615 0001,4304,Company,False,GB,EE,BONDWEST LLP,True,EE123300333505040009,1412315077469974 PAYMENT TO THE CONTRACT N 28 ...,2014-12-31,100000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16936,GB,EE12 3300 3335 1615 0001,4303,Company,False,GB,EE,CITYPORT CONTRACTS L.P.,True,EE303300333517290009,1412315075275670 CONTRACT N 0042 DD 01.08.2013,2014-12-31,88000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16937,GB,EE12 3300 3335 1615 0001,4302,Person,False,TR,TR,VUGAR RZAYEV,True,TR920006200037300009087555,1412315020689974 PAYMENT TO THE CONTRACT N 50 ...,2014-12-31,42000,Company,HILUX SERVICES LP,EE,HILUX SERVICES LP,HILUX
16938,GB,EE683300333516210006,4301,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1412315076170038 GROUP PAYMENT,2014-12-31,6000,Company,FABERLEX LP,EE,FABERLEX LP,HILUX
16939,GB,EE923300333515620008,4300,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1412315076256810 ACC TO CONTR 001 DD 03.06.201...,2014-12-31,2200000,Company,RASMUS LP,EE,RASMUS LP,HILUX

In [160]:
df2[['purpose','beneficiary_account','payer_account']][(df2['payer_type']=='Invalid')|(df2['payer_type']=='Person')]

,payer_jurisdiction,payer_account,id,beneficiary_type,beneficiary_core,beneficiary_jurisdiction,beneficiary_bank_country,beneficiary_name_norm,payer_core,beneficiary_account,purpose,date,amount_usd,payer_type,payer_name_norm,payer_bank_country,payer_name_norm_new,source
67,DE,None,9327,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1207185100280220 RTN 1207135025890645/7033/ 13...,2012-07-19,167676,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,METASTAR
121,CN,None,10669,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1207245104516412 345587 INMAXO CAPITAL CORP./...,2012-07-24,49963,Invalid,BKCHCNBJ,None,BKCHCNBJ,METASTAR
308,DE,None,9386,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1208095105222495 RETURN OF P/O 159/12073050228...,2012-08-10,81992,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,METASTAR
451,TR,None,10778,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1208275104667672 RTN P/O 1207265020271628/132...,2012-08-27,36920,Invalid,DENITRIS,None,DENITRIS,METASTAR
476,TR,TR500006200009100009097093,10785,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1208285105855742 /RFB/GOODS VALUE,2012-08-28,67955,Person,SEMRA UZUNCIMEN,TR,SEMRA UZUNCIMEN,METASTAR
509,US,None,15673,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1208305106394756 RTN P/O 1208225027994320/301...,2012-08-30,4000,Invalid,TDOMUS33,None,TDOMUS33,METASTAR
603,GB,None,10581,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1209055105244285 RTN P/O 1208315022336943/361...,2012-09-05,15872,Invalid,BARCGB22,None,BARCGB22,METASTAR
1211,DE,None,15136,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1210125104899072 RTN P/O 1210105026740299/638...,2012-10-12,1601,Invalid,NORSDE71,None,NORSDE71,METASTAR
1679,CZ,CZ7355000000004054712001,5432,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1211095103858410 31000121109E00040010000001 EB...,2012-11-09,71043,Person,RASHAD GAFAROV,CZ,RASHAD GAFAROV,LCM ALLIANCE
2583,AZ,TXID/AZ/1300959901,11223,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1212245101390337 PREPAYMENT DUE TO CONT.08/11 ...,2012-12-27,149455,Person,AZERB.REP.MINIST.EMERGENCY SITUA,TX,AZERBREPMINISTEMERGENCY SITUA,METASTAR
2923,GB,None,10585,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1301255101707659 RTN P/O 1301185022790441/126...,2013-01-25,2437,Invalid,BARCGB22,None,BARCGB22,METASTAR
3453,UNKNOWN,004634935482,11391,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1302195105727237 /RFB/95311706//FOR MY FRIEND,2013-02-20,13000,Person,RAMAZAN MENGI,00,RAMAZAN MENGI,METASTAR
3508,CA,None,11398,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1302225108154541 RTN P/O 1302015024871561/133...,2013-02-22,62427,Invalid,ROYCCAT2X,None,ROYCCAT2X,METASTAR
3510,HK,None,6988,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1302225106497517 RTN P/O 1301315024848275/425...,2013-02-22,99943,Invalid,HASEHKHH,None,HASEHKHH,LCM ALLIANCE
3677,DE,None,11423,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1302285104521519 RTN P/O 1302255028309703/147...,2013-02-28,19770,Invalid,OWHBDEFF,None,OWHBDEFF,METASTAR
4441,DE,None,5651,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1303255103061595 RTN 1303205022972973/620/ EUR...,2013-03-26,358052,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,LCM ALLIANCE
5073,DE,None,5710,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1304105101108652 RTN 1304095025230674/722/ EUR...,2013-04-11,610443,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,LCM ALLIANCE
5120,UNKNOWN,006786561349,16038,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1304125103142162 DIRECTOR - MAYK TERRYACCOUNT ...,2013-04-12,20000,Person,SAFAR A SAFAROV,00,SAFAR A SAFAROV,METASTAR
5124,DE,None,8637,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1304115107552694 RTN 1304035020844848/730/ EUR...,2013-04-12,132277,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,LCM ALLIANCE
5126,DE,None,14503,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1304115106452630 RTN 1304035022519280/711/ EUR...,2013-04-12,157778,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,LCM ALLIANCE
5590,LI,None,7744,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1304245100733313 RTN P/O 1304175020245693/775...,2013-04-24,198158,Invalid,HYIBLI22,None,HYIBLI22,LCM ALLIANCE
5670,UNKNOWN,006786561349,16072,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1304265107766939 DIRECTOR - MAYK TERRYACCOUNT ...,2013-04-26,14000,Person,SAFAR A SAFAROV,00,SAFAR A SAFAROV,METASTAR
6385,LI,None,8050,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1305165105172579 RTN P/O 1305085022069552/813...,2013-05-16,204567,Invalid,HYIBLI22,None,HYIBLI22,LCM ALLIANCE
6876,RO,RO02CITIB000001000359422,11815,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1305305102423790 TRANSFER BACK MISTAKEN AMOUNT,2013-05-30,4980,Person,MORAKIS CHRISTOS,RO,MORAKIS CHRISTOS,METASTAR
7505,CZ,CZ8155000000006298550001,10142,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1306115107488449 31000130611E00020350000001 EB...,2013-06-11,31827,Person,HAMID KARIMOV,CZ,HAMID KARIMOV,METASTAR
7850,DE,None,5966,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,"1306145106551131 RETURN OF P/O 938/EUR461120,/...",2013-06-17,598948,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,LCM ALLIANCE
8060,US,None,8532,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1306245103541972 RETURN OF P/O 1003/130614502...,2013-06-24,200000,Invalid,BKTRUS33,None,BKTRUS33,LCM ALLIANCE
8061,US,None,8531,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1306245105050012 RETURN OF P/O 1002/130614502...,2013-06-24,432922,Invalid,BKTRUS33,None,BKTRUS33,LCM ALLIANCE
8062,US,None,8530,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1306245106041532 RETURN OF P/O 1000/130614502...,2013-06-24,600000,Invalid,BKTRUS33,None,BKTRUS33,LCM ALLIANCE
8063,US,None,9280,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1306245102644820 RETURN OF P/O 984/1306145023...,2013-06-24,971694,Invalid,BKTRUS33,None,BKTRUS33,LCM ALLIANCE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8479,US,None,8543,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1307095106372761 RTN P/O 1306135021193305/995...,2013-07-09,24531,Invalid,BKTRUS33,None,BKTRUS33,LCM ALLIANCE
8694,US,None,8547,Company,True,GB,EE,LCM ALLIANCE LLP,False,EE27 3300 3335 0561 0002,1307155108188783 RTN P/O 1306145027057429/100...,2013-07-15,9000,Invalid,BKTRUS33,None,BKTRUS33,LCM ALLIANCE
9385,DE,None,12765,Company,True,GB,EE,POLUX MANAGEMENT LP,False,EE35 3300 3335 1622 0009,"1308135104871437 return of p/o 115/eur14489,/ ...",2013-08-13,19089,Invalid,COBADEFFXXX,None,COBADEFFXXX,POLUX
9481,DE,None,10452,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1308155102990137 RETURN OF P/O 2844 /EUR 57959...,2013-08-16,76555,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,METASTAR
9606,AZ,None,12401,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,1308215100951552 RETURN OF P/O 2930/130815502...,2013-08-21,48985,Invalid,PAHAAZ22,None,PAHAAZ22,METASTAR
9929,UNKNOWN,None,12491,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,COMMISSION/FEE CREDIT,2013-08-30,25,Person,Aruna Dackeviciene,None,ARUNA DACKEVICIENE,METASTAR
9931,UNKNOWN,None,10600,Company,True,GB,EE,METASTAR INVEST LLP,False,EE77 3300 3334 8704 0004,tagastus Ebaselge makse,2013-08-30,8762,Person,Aruna Dackeviciene,None,ARUNA DACKEVICIENE,METASTAR
10944,HK,None,13553,Company,True,GB,EE,POLUX MANAGEMENT LP,False,EE35 3300 3335 1622 0009,1310235103858134 RETURN OF P/O 724/1310105026...,2013-10-23,181538,Invalid,HSBCHKHHHKH,None,HSBCHKHHHKH,POLUX
11286,UNKNOWN,None,4338,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,tagastus Kliendi korralduse alusel,2013-11-08,457508,Person,RAAD KADHIM,None,RAAD KADHIM,HILUX
12014,LI,None,1720,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1312125104984710 RTN P/O 1312055028047741/739...,2013-12-12,75482,Invalid,VOAGLI22,None,VOAGLI22,HILUX
12160,DE,None,13844,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1312205107645033 RTN 1312185032422144/881/ EUR...,2013-12-23,54293,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
12295,AZ,TXID/AZ/1700986181,14134,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1401085101288436 INV HS-04/02-36 26 12 13 FULL...,2014-01-09,8565907,Person,MODIAR,TX,MODIAR,HILUX
12383,TR,None,14142,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1401145100937340 POLUX MANAGEMENT LP 351622/RT...,2014-01-14,69976,Invalid,YAPITRIS,None,YAPITRIS,HILUX
12572,CH,None,4,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1401305101090511 RTN P/O 1401275020233987/1169...,2014-01-30,11215,Invalid,UBSWCHZH80A,None,UBSWCHZH80A,HILUX
12599,DE,None,287,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1402045105929341 RTN 1401275038214243/1161/ EU...,2014-02-04,53887,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
12940,DE,None,363,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1403065103964208 RTN 1402255023098505211/1373/...,2014-03-07,291787,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
12941,DE,None,362,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1403065105061488 RTN 1402265026149031/1399/ 40...,2014-03-07,552045,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
12943,AE,None,2165,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1403075101465314 RTN P/O 1402255024202969/1384...,2014-03-07,1258749,Invalid,EBILAEAD,None,EBILAEAD,HILUX
12946,AE,None,2170,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1403105102782180 RTN P/O 1402195025228259/1330...,2014-03-10,13808,Invalid,EBILAEAD,None,EBILAEAD,HILUX
12948,AE,None,4824,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1403105105206516 RTN P/O 1402255027684457/1383...,2014-03-10,249949,Invalid,EBILAEAD,None,EBILAEAD,HILUX
12949,AE,None,2169,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1403105103859268 RTN P/O 1402195021836739/1327...,2014-03-10,929949,Invalid,EBILAEAD,None,EBILAEAD,HILUX
13274,DE,None,440,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1404115108111226 RTN 1404035038169688/1686/ E...,2014-04-11,113853,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
13536,DE,None,494,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1405095100142226 RTN 1404165035641537/1788/ EU...,2014-05-09,9896,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
14156,GB,None,14258,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1406275102929501 RTN P/O 1406175027888075/2336...,2014-06-27,11227,Invalid,BOTKGB2L,None,BOTKGB2L,HILUX
14317,NL,None,4991,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1407085104792816 RETURN OF P/O 2481/1406305025...,2014-07-08,63265,Invalid,KABANL2A,None,KABANL2A,HILUX
15613,IL,None,3552,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1409265107954337 RTN P/O 1409155025068798/3471...,2014-09-26,122632,Invalid,IDBLILIT,None,IDBLILIT,HILUX
15993,DE,None,923,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1410225106204635 RTN 1410085026453238/3798/ EU...,2014-10-22,166510,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
16089,DE,None,4536,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1410295106744555 RTN 1410095020828956/3812/ EU...,2014-10-29,441607,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
16171,DE,None,946,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1411045100888700 RTN 1410105025542954/3830/ 29...,2014-11-04,366914,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX
16692,DE,None,4562,Company,True,GB,EE,HILUX SERVICES LP,False,EE12 3300 3335 1615 0001,1412095102798888 RTN 1412045036171460/4378/ EU...,2014-12-09,12449,Invalid,DEUTDEFFXXX,None,DEUTDEFFXXX,HILUX

In [147]:
df['beneficiary_type'].value_counts()

Company    15998
Person       932
Invalid       10
Name: beneficiary_type, dtype: int64

In [170]:
df2['payer_account']
df2['payer_bank_country']
country=[]
for i in range(len(df2['payer_account'])):
    if (df2['payer_account'].iloc[i]!=None) & (df2['payer_bank_country'].iloc[i]!=None):
        if (list(df2['payer_account'].iloc[i])[:2])!=(list(df2['payer_bank_country'].iloc[i])[:2]):
            country.append(i)
country

country1=[]
for i in range(len(df2['beneficiary_account'])):
    if (df2['beneficiary_account'].iloc[i]!=None) & (df2['beneficiary_bank_country'].iloc[i]!=None):
        if (list(df2['beneficiary_account'].iloc[i])[:2])!=(list(df2['beneficiary_bank_country'].iloc[i])[:2]):
            country1.append(i)
country1

##account first 2 letter == bank country if not none

[]

In [244]:
pd.options.mode.chained_assignment = None
df2['payer_account']=df['payer_account']
df2['beneficiary_account']=df['beneficiary_account']
#try
df2['beneficiary_account'].iloc[0]=''.join(list(df2['beneficiary_account'].iloc[0][2:]))

In [245]:
for i in range(len(df2['payer_account'])):
    if (df2['payer_account'].iloc[i]!=None) :
        df2['payer_account'].iloc[i]=''.join(list(df2['payer_account'].iloc[i])[2:])
df2['payer_account']=df2['payer_account'].str.replace(' ','')


for i in range(1,len(df2['beneficiary_account'])):
    if (df2['beneficiary_account'].iloc[i]!=None):
        df2['beneficiary_account'].iloc[i]=''.join(list(df2['beneficiary_account'].iloc[i])[2:])
df2['beneficiary_account']=df2['beneficiary_account'].str.replace(' ','')
df2['beneficiary_account']
#delete bank country at first two letter and drop space

0               273300333505610002
1                       3504500003
2               773300333487040004
3                       3455870002
4                       3455870002
5               773300333487040004
6               773300333487040004
7                       3488110001
8        78T0605569721000000001000
9                       3484540002
10                      3484540002
11                      3499570009
12        410012300615100016777301
13       78H0306920409100000012385
14        070013400000000039500042
15                      3499570009
16        240006200034100009092916
17            96810700000210018800
18                      3468790001
19              773300333487040004
20              773300333487040004
21              773300333487040004
22              702840722002001727
23           710200000025597675100
24                      3488110001
25                      3488110001
26                      3488110001
27        480006400000212780107701
28            11400400280420274300
29                      3499570009
                   ...
16910    57S0504801639000000001821
16911           683300333516210006
16912          0408812105030530001
16913     020020600033019706260102
16914             44DEUT0265165296
16915          7908812105030540000
16916        650030010220620394001
16917                         2558
16918       5527000000002107039983
16919                   5458233237
16920    7630003000800002030076732
16921          59RTMB0000611806345
16922     420001200938800053000248
16923     230006400000211373371180
16924     030006400000213930001995
16925     950003200014500000226115
16926           123300333516150001
16927           123300333516150001
16928           123300333516150001
16929           123300333516150001
16930          62007645958754C000C
16931          48AIZK0001140094623
16932             91DEUT0471363170
16933           073300333514840009
16934           873300333520140007
16935           123300333505040009
16936           303300333517290009
16937     920006200037300009087555
16938           123300333516150001
16939           123300333516150001
Name: beneficiary_account, Length: 16940, dtype: object

In [255]:
df2['purpose']

0        1206295100052180 OCT4121800021 ADVANCE PAYM FO...
1           1207035026699176 INVOICE.No 6215 DD 25.05.2012
2                          1207065103089249   /FEE/USD4,81
3                           1207095022358525 DOGOVOR ZAYMA
4                           1207135024578077 DOGOVOR ZAYMA
5                             CONTRACT N 001 DD 24.12.2009
6            1207135026233261 CONTRACT N 001 DD 24.12.2009
7                                invoice 888 dd 09.06.2012
8              1207165020172345 INVOICE 8456 DD 10.07.2012
9                           1207165025935425 DOGOVOR ZAYMA
10                          1207165022969353 DOGOVOR ZAYMA
11              1207165028140593 INVOICE 666 DD 06.06.2012
12              1207165020742469 INVOICE 743 DD 10.06.2012
13              1207165026491333 INVOICE 2-9 DD 11.07.2012
14                     1207165022275789 AHMADOV ANAR SUBAR
15              1207165021570793 INVOICE 666 DD 06.06.2012
16              1207165022255697 INVOICE 785 DD 13.07.2012
17               1207165020041457 INVOICE 01 DD 14.07.2012
18                 1207165025774169 INVOICE 01 DD 01.05.12
19           1207165020140189 CONTRACT N 001 DD 24.12.2009
20                          1207165021876577 DOGOVOR ZAYMA
21            1207165026198353 INVOICE.No 69 DD 13.07.2012
22               1207175028296266 SHOT N 156 DD 05.04.2012
23       1207175026172670 INVOICE 001 DD 12.02.2012 FOR...
24                               invoice 888 dd 09.06.2012
25              1207175024945082 invoice 888 dd 09.06.2012
26                               invoice 888 dd 09.06.2012
27             1207175023760670 INVOICE 2345 DD 08.07.2012
28              1207175025570082 INVOICE 531 DD 01.04.2012
29              1207175028320294 INVOICE 666 DD 06.06.2012
                               ...
16910    1412295036793430 PAYMENT TO THE CONTRACT N.W/N...
16911                                        GROUP PAYMENT
16912    1412295020996358 PAYMENT TO THE CONTRACT N 01 ...
16913    1412295026084242 PAYMENT TO THE INVOICE N. N1-...
16914    1412295038278546 PAYMENT TO THE INVOICE N 9554...
16915    1412295036593302 PAYMENT TO THE CONTRACT N 038...
16916    1412295022190790 PAYMENT TO THE CONTRACT N 6 D...
16917    1412295026476422 PAYMENT TO THE CONTRACT N.28 ...
16918    1412295034398998 PAYMENT TO THE INVOICE N.16/1...
16919    1412295023479022 PAYMENT TO THE INVOICE N.ZA00...
16920    1412295036178610 PAYMENT TO THE CONTRAKT GSN/F...
16921    1412295031262686 PAYMENT TO THE CONTRACT N 398...
16922    1412295024693494 PAYMENT TO THE INVOICE N.H-8 ...
16923    1412295020010390 PAYMENT TO THE INVOICE N.3281...
16924    1412295024599126 PAYMENT TO THE INVOICE N.2 DD...
16925    1412295022404822 PAYMENT FOR WATER PIPES UNDER...
16926    1412295072206634 inv. no 1916 for electro equi...
16927    1412295105818062 INVOICE NO P230400506 FOR ELE...
16928    1412265102334077 CONTRAKT N47 03.11.2014  /FEE...
16929    1412295108133598 CONTRAKT N47 03.11.2014  /FEE...
16930    1412305035411964 PAYMENT TO THE INVOICE N.69 D...
16931    1412295033085006 PAYMENT TO THE INVOICE N.39 D...
16932    1412295030890702 PAYMENT TO THE INVOICE N.1400...
16933    1412315075078582 PAYMENT TO THE CONTRACT N 55 ...
16934    1412315074763930 PAYMENT TO THE CONTRACT N.12/...
16935    1412315077469974 PAYMENT TO THE CONTRACT N 28 ...
16936       1412315075275670 CONTRACT N 0042 DD 01.08.2013
16937    1412315020689974 PAYMENT TO THE CONTRACT N 50 ...
16938                       1412315076170038 GROUP PAYMENT
16939    1412315076256810 ACC TO CONTR 001 DD 03.06.201...
Name: purpose, Length: 16940, dtype: object

In [552]:
for i in range(len(df2['purpose'])):
    df2['purpose_tex'].iloc[i]=' '.join(re.findall(r'[A-Za-z]+',df2['purpose'].iloc[i]))

0        OCT ADVANCE PAYM FOR THE INST RUMENTATIO N AND...
1                                            INVOICE No DD
2                                                  FEE USD
3                                            DOGOVOR ZAYMA
4                                            DOGOVOR ZAYMA
5                                            CONTRACT N DD
6                                            CONTRACT N DD
7                                               invoice dd
8                                               INVOICE DD
9                                            DOGOVOR ZAYMA
10                                           DOGOVOR ZAYMA
11                                              INVOICE DD
12                                              INVOICE DD
13                                              INVOICE DD
14                                      AHMADOV ANAR SUBAR
15                                              INVOICE DD
16                                              INVOICE DD
17                                              INVOICE DD
18                                              INVOICE DD
19                                           CONTRACT N DD
20                                           DOGOVOR ZAYMA
21                                           INVOICE No DD
22                                               SHOT N DD
23                              INVOICE DD FOR EQUIP MEN T
24                                              invoice dd
25                                              invoice dd
26                                              invoice dd
27                                              INVOICE DD
28                                              INVOICE DD
29                                              INVOICE DD
                               ...
16910    PAYMENT TO THE CONTRACT N W N DD FOR CONTRIBUTION
16911                                        GROUP PAYMENT
16912           PAYMENT TO THE CONTRACT N DD FOR EQUIPMENT
16913        PAYMENT TO THE INVOICE N N DD FOR SPARE PARTS
16914                 PAYMENT TO THE INVOICE N DD FOR FOOD
16915           PAYMENT TO THE CONTRACT N DD FOR EQUIPMENT
16916           PAYMENT TO THE CONTRACT N DD FOR EQUIPMENT
16917    PAYMENT TO THE CONTRACT N DD FOR CONSULTING SE...
16918                          PAYMENT TO THE INVOICE N DD
16919         PAYMENT TO THE INVOICE N ZA DD FOR RADIATORS
16920    PAYMENT TO THE CONTRAKT GSN FRIM NU SRD DIN DD...
16921           PAYMENT TO THE CONTRACT N DD FOR EQUIPMENT
16922                        PAYMENT TO THE INVOICE N H DD
16923                PAYMENT TO THE INVOICE N DD FOR PIPES
16924            PAYMENT TO THE INVOICE N DD FOR EQUIPMENT
16925         PAYMENT FOR WATER PIPES UNDER CONTR ACT N DD
16926                        inv no for electro equipments
16927                   INVOICE NO P FOR ELECTRONI CS DATE
16928                                   CONTRAKT N FEE USD
16929                                   CONTRAKT N FEE USD
16930                          PAYMENT TO THE INVOICE N DD
16931                          PAYMENT TO THE INVOICE N DD
16932           PAYMENT TO THE INVOICE N D D FOR EQUIPMENT
16933           PAYMENT TO THE CONTRACT N DD FOR EQUIPMENT
16934           PAYMENT TO THE CONTRACT N DD FOR EQUIPMENT
16935                         PAYMENT TO THE CONTRACT N DD
16936                                        CONTRACT N DD
16937             PAYMENT TO THE CONTRACT N DD FOR SERVICE
16938                                        GROUP PAYMENT
16939            ACC TO CONTR DD RETURN OF OVERPAID AMOUNT
Name: purpose_tex, Length: 16940, dtype: object

In [275]:
df2['payer_account']=df2['payer_account'].fillna('Invalid')

for i in ['payer_bank_country','beneficiary_account','beneficiary_bank_country']:
    df2[i]=df2[i].fillna('Invalid')

In [331]:
df3=df2.drop(['source','purpose'],axis=1)
#source meaningless
df3['beneficiary_name_norm'].str.replace('.','')

0                           LCM ALLIANCE LLP
1                                 MOBILA LLP
2                        METASTAR INVEST LLP
3                        INMAXO CAPITAL CORP
4                        INMAXO CAPITAL CORP
5                        METASTAR INVEST LLP
6                        METASTAR INVEST LLP
7                  JETFIELD NETWORKS LIMITED
8                                 ERREBI SPA
9                             LOTA SALES LLP
10                            LOTA SALES LLP
11                        ELEATEX TRADING SL
12            CST KIMYA SANAYI VE TICARET AS
13                      SILVEA SCHIATTI+CSRL
14               EGE KURKAMU FINVE TICMRKZSB
15                        ELEATEX TRADING SL
16        UNIVAR KIMYA SANAYI VE DIS TIC LTD
17               MERTIK MAXITROL GMBH & COKG
18                      LINSTAR SYSTEMS CORP
19                       METASTAR INVEST LLP
20                       METASTAR INVEST LLP
21                       METASTAR INVEST LLP
22                            OOO MAYAKPRINT
23                           IMEX MOTORS LLC
24                 JETFIELD NETWORKS LIMITED
25                 JETFIELD NETWORKS LIMITED
26                 JETFIELD NETWORKS LIMITED
27                  CAHAN ISTANBUL DISTICLTD
28           MTG HANDELS UND CONSULTING GMBH
29                        ELEATEX TRADING SL
                        ...
16910                FONDAZIONE NOVAE TERRAE
16911                            FABERLEX LP
16912              RENAISSANCE ASSOCIATES SA
16913         KARAT GUC SISTEMLERI SANVE TIC
16914                   ENZA ZADEN EXPORT BV
16915                 PARY INTERNATIONAL INC
16916                           ZEN TRAX INC
16917                CEMENA SERVICES LIMITED
16918                    GLAMOUR DIAMOND SRO
16919    JIANGSU UNBEATABLE RADIATOR CO, LTD
16920                       GSN SEMENCES SAS
16921                        ODEN ASSETS LTD
16922                         YIGITLER FLANS
16923       SAYGIN HIDROFOR VE POMPA SIS SAN
16924      DURKO CEVRE ENERJI TEKNIGI VE TIC
16925            GRUNDFOS POMPA SANTICLTDSTI
16926                      HILUX SERVICES LP
16927                      HILUX SERVICES LP
16928                      HILUX SERVICES LP
16929                      HILUX SERVICES LP
16930               CHIANCIANESI AND LONGONI
16931                 CASPIAN INVEST LIMITED
16932                      BAARS CONFLOAT BV
16933                  DATEMILE ALLIANCE LLP
16934                   RICHFIELD TRADING LP
16935                           BONDWEST LLP
16936                  CITYPORT CONTRACTS LP
16937                           VUGAR RZAYEV
16938                      HILUX SERVICES LP
16939                      HILUX SERVICES LP
Name: beneficiary_name_norm, Length: 16940, dtype: object

In [281]:
print(df3['beneficiary_name_norm'].value_counts())
df3['payer_name_norm_new'].value_counts()

LCM ALLIANCE LLP                      1758
METASTAR INVEST LLP                   1237
HILUX SERVICES LP                      905
POLUX MANAGEMENT LP                    433
FABERLEX LP                            334
KG COMMERCE LLP                        273
LOTA SALES LLP                         246
BONINVEST LLP                          234
CITYPORT CONTRACTS L.P.                214
INFOCREST LLP                          201
RIVERLANE LLP                          184
GFG EXPORT LLP                         178
REDPARK SALES CORP.                    140
DATEMILE ALLIANCE LLP                  117
MOLONEY TRADE LLP                      115
BONDWEST LLP                           113
AVROMED COMPANY LLP                    102
RICHFIELD TRADING L.P.                 101
UPFIELD EXPRESS INC                     95
SMART TEAM GENERAL TRADING LLC          91
GLOBECOM TRADE L.P.                     86
OVERMOND LLP                            83
RASMUS LP                               82
HAZAR INSAAT DIS.TIC. LTD. STI          82
LUXBORG L.P.                            79
AVROMED COMPANY                         79
IMEX MOTORS L.L.C.                      74
WILLROCK UNITED LLP                     71
LINSTAR SYSTEMS CORP.                   61
SABA CARS Germany GmbH                  54
                                      ...
LICHEE ASIA GROUP LIMITED                1
Hidrokon diS ticaret                     1
NINGBO BEITONG IMP.& EXP. CO., LTD       1
P.P.H-U MIKRO JASIONOWSKI TADEUSZ        1
NESCO DI NASSIMIHA JAKOB                 1
SILVER DIAMOND INTERNATIONAL             1
STANDART CONTA SAN. VE TIC.LTD.STI       1
NOVA GLOBAL ENTERPRISE LTD               1
BILKAR SOGUTMA ISITMA KLI.VE ELEK.       1
S.C.SCULPTORUL S.R.L.                    1
RITO TOHUMCULUK                          1
CAGIN MUHENDISLIK INS.OTO.SAN.TIC.       1
NINGBO HAITIAN HOLDING GROUP             1
ATS GLOBAL TURKEL                        1
DEMIRIZ ENDUSTRI MALZEMELERI SAN         1
TAEWOONG LOGISTICS CO .LTD               1
LI-COR INC                               1
GALVA METAL SANAYI VE TICARET A.S        1
TEKNOMAR MATBAA MALZEMELERI VE           1
MB S.R.L.                                1
BOLDCROSS LIMITED                        1
JSC EVRAZ ZSMK                           1
MEGA ENDUSTRI KONTROL SISTEMLERI         1
ACCESSORIES AGENCY LTD.                  1
SUNBANGINDUSTRIAL CO., LIMITED           1
GOKYUZU REKLAM VE YAPIMCILIK             1
VILLARI SRL                              1
DEKOR-KUNSTSTOFFE GMBH                   1
TETRA CHEMICALS EUROPE AB                1
NEWMATIC TRADING CO LLC                  1
Name: beneficiary_name_norm, Length: 3185, dtype: int64

HILUX SERVICES LP                    5178
METASTAR INVEST LLP                  3846
LCM ALLIANCE LLP                     2820
POLUX MANAGEMENT LP                  1344
BAKTELEKOM MMC                        530
FABERLEX LP                           220
RIVERLANE LLP                         158
LOTA SALES LLP                        153
JETFIELD NETWORKS LIMITED             125
TOO ARMAS GROUP                        95
SOVER DEVELOPMENT LLP                  92
EVERMAIR PROJECTS LP                   84
BONINVEST LLP                          78
SOLIDSTAR WORLDWIDE LLP                63
LARKSTONE LIMITED                      61
JSC ROSOBORONEXPORT                    56
DELFRONT IMPORT LLP                    51
MOLONEY TRADE LLP                      46
INFOCREST LLP                          45
GLOBECOM TRADE LP                      45
KG COMMERCE LLP                        40
HIGH-RIDGE INVEST LTD                  38
TOO 'KAZANERDJISERVISEZ'               38
DELOKALI LIMITED                       38
CLIMBFREE SOLUTIONS LIMITED            37
FESTIVAL SALES LLP                     37
BENTCARD IMPORT LLP                    36
BSMAX LLP                              34
TOO ASPI                               31
DOCKWOOD ALLIANCE LLP                  30
                                     ...
XINJIANG KAIMEI INTERNATIONAL           1
ODINGROUP OÃœ                            1
MULTIPLAN YALITIM SIS TIC AS            1
ASAS ALUMINYUM SANAYI VE TICARET        1
UNTEL KABLOLARI SANAYI VE TICARET       1
CYRTOMEX SERVICES LIMITED               1
TIAN TING TRADING CO, LIMITED           1
MODIAR                                  1
STRAND HANDEL K/S                       1
GEBA INDUSTRIES LTD                     1
BENETEAU SPBI SA                        1
NEROX MOST LIMITED                      1
AUTOHAUS GRAMPP GMBH                    1
TRITON SOLUTIONS LTD                    1
NORTHBURG LIMITED                       1
BERGFOX ALLIANCE LLP                    1
BKCHCNBJ                                1
UNIONSTAR TRADE LLP                     1
CONATIO LIMITED                         1
SANDLAND OVERSEAS                       1
CAYREST EXPORT LLP                      1
EGERSON PRODUCTIONS CORP                1
DARTLEY CAPITAL LLP                     1
ALGAN METAL SANAYI VE TICARET AS        1
STATE ENERGETICS AGENCY OF              1
KEMIRA OYJ                              1
SIRONA DENTAL SYSTEMS GMBH              1
CURZON CONSULTANTS CORP                 1
SHANGHAI PUDONG DEV BANK                1
OMNI EUROTRADING LTD                    1
Name: payer_name_norm_new, Length: 395, dtype: int64

In [296]:
shell_ben_index=df3[(df3['beneficiary_name_norm']=='HILUX SERVICES LP') | (df3['beneficiary_name_norm']=='METASTAR INVEST LLP') |
   (df3['beneficiary_name_norm']=='POLUX MANAGEMENT LP') | (df3['beneficiary_name_norm']=='LCM ALLIANCE LLP')].index.values.tolist()

In [297]:
shell_payer_index=df3[(df3['payer_name_norm_new']=='HILUX SERVICES LP') | (df3['payer_name_norm_new']=='METASTAR INVEST LLP') |
   (df3['payer_name_norm_new']=='POLUX MANAGEMENT LP') | (df3['payer_name_norm_new']=='LCM ALLIANCE LLP')].index.values.tolist()

In [482]:
! pip install openpyxl

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/f5/39/942a406621c1ff0de38d7e4782991b1bac046415bf54a66655c959ee66e8/openpyxl-2.6.3.tar.gz (173kB)
    100% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 174kB 7.5MB/s ta 0:00:01
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/f0/da/572cbc0bc582390480bbd7c4e93d14dc46079778ed915b505dc494b37c57/jdcal-1.4.1-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Building wheel for openpyxl (setup.py) ... done
  Stored in directory: /Users/siruozhang/Library/Caches/pip/wheels/51/fa/dc/7eb403214c40a01befafce3ec0d215176d451d106a431d6781
  Building wheel for et-xmlfile (setup.py) ... done
  Stored in directory: /Users/siruozhang/Library/Caches/pip/wheels/2a/77/35/0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-2.6.3
You are using pip version 19.0.2, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [468]:
intersection_index_shell=[]
for m in shell_ben_index:
    if m in shell_payer_index:
        intersection_index_shell.append(m)
intersection_index_shell
df4=df3.iloc[intersection_index_shell]
#all transaction with core companies mutually

In [520]:
df3['purpose_text'].iloc[0]

['OCT',
 'ADVANCE',
 'PAYM',
 'FOR',
 'THE',
 'INST',
 'RUMENTATIO',
 'N',
 'AND',
 'CONTROL',
 'CABLES',
 'BOM',
 'IN',
 'ACC',
 'WIT',
 'H',
 'THE',
 'CON',
 'TR',
 'DD']

In [485]:

df3.to_excel('/Users/siruozhang/Desktop/clean_bootcamp.xlsx')

In [599]:
#re-clean purpose again
df3['purpose_text']=df2['purpose_text'].str.lower()
for i in range(len(df3['purpose_text'])):
    sentence_sent= df3['purpose_text'].iloc[i]
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(sentence_sent)
    df3['purpose_text'].iloc[i] = [w for w in word_tokens if not w in stop_words]
df3['purpose_text']

0        [oct, advance, paym, inst, rumentatio, n, cont...
1                                            [invoice, dd]
2                                               [fee, usd]
3                                         [dogovor, zayma]
4                                         [dogovor, zayma]
5                                        [contract, n, dd]
6                                        [contract, n, dd]
7                                            [invoice, dd]
8                                            [invoice, dd]
9                                         [dogovor, zayma]
10                                        [dogovor, zayma]
11                                           [invoice, dd]
12                                           [invoice, dd]
13                                           [invoice, dd]
14                                  [ahmadov, anar, subar]
15                                           [invoice, dd]
16                                           [invoice, dd]
17                                           [invoice, dd]
18                                           [invoice, dd]
19                                       [contract, n, dd]
20                                        [dogovor, zayma]
21                                           [invoice, dd]
22                                           [shot, n, dd]
23                               [invoice, dd, equip, men]
24                                           [invoice, dd]
25                                           [invoice, dd]
26                                           [invoice, dd]
27                                           [invoice, dd]
28                                           [invoice, dd]
29                                           [invoice, dd]
                               ...
16910       [payment, contract, n, w, n, dd, contribution]
16911                                     [group, payment]
16912                [payment, contract, n, dd, equipment]
16913           [payment, invoice, n, n, dd, spare, parts]
16914                      [payment, invoice, n, dd, food]
16915                [payment, contract, n, dd, equipment]
16916                [payment, contract, n, dd, equipment]
16917     [payment, contract, n, dd, consulting, services]
16918                            [payment, invoice, n, dd]
16919             [payment, invoice, n, za, dd, radiators]
16920    [payment, contrakt, gsn, frim, nu, srd, din, d...
16921                [payment, contract, n, dd, equipment]
16922                         [payment, invoice, n, h, dd]
16923                     [payment, invoice, n, dd, pipes]
16924                 [payment, invoice, n, dd, equipment]
16925           [payment, water, pipes, contr, act, n, dd]
16926                           [inv, electro, equipments]
16927                    [invoice, p, electroni, cs, date]
16928                              [contrakt, n, fee, usd]
16929                              [contrakt, n, fee, usd]
16930                            [payment, invoice, n, dd]
16931                            [payment, invoice, n, dd]
16932                     [payment, invoice, n, equipment]
16933                [payment, contract, n, dd, equipment]
16934                [payment, contract, n, dd, equipment]
16935                           [payment, contract, n, dd]
16936                                    [contract, n, dd]
16937                  [payment, contract, n, dd, service]
16938                                     [group, payment]
16939           [acc, contr, dd, return, overpaid, amount]
Name: purpose_text, Length: 16940, dtype: object

In [600]:
words_list=[]
for i in range(len(df3['purpose_text'])):
    for m in range(len(df3['purpose_text'].iloc[i])):
        words_list.append((df3['purpose_text'].iloc[i][m]))

In [608]:
from collections import Counter
words_count = Counter(words_list)
most_words = words_count.most_common(50)
most_words = [words for words in most_words if words[0] not in 'dd' 'n''e''c''r''f''l''b']
most_words

[('payment', 7896),
 ('invoice', 7734),
 ('contract', 5819),
 ('equipment', 1859),
 ('construction', 1292),
 ('materials', 1120),
 ('fee', 835),
 ('inv', 783),
 ('usd', 726),
 ('goods', 392),
 ('dogovor', 329),
 ('zayma', 327),
 ('material', 313),
 ('pment', 266),
 ('cntr', 229),
 ('service', 219),
 ('rfb', 212),
 ('bank', 203),
 ('az', 195),
 ('estonia', 195),
 ('danske', 193),
 ('date', 189),
 ('tallinn', 189),
 ('equi', 163),
 ('pmt', 161),
 ('truction', 160),
 ('contrakt', 160),
 ('p', 157),
 ('transportation', 152),
 ('swf', 142),
 ('ds', 140),
 ('contractno', 138),
 ('goo', 137),
 ('group', 135),
 ('textiles', 129),
 ('food', 125),
 ('agr', 123),
 ('vo', 122),
 ('bez', 121),
 ('nds', 121),
 ('services', 120),
 ('qui', 113)]

Collecting ImageColorGenerator
  Could not find a version that satisfies the requirement ImageColorGenerator (from versions: )
No matching distribution found for ImageColorGenerator
You are using pip version 19.0.2, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.